<!-- <div class="container-lg">
<div class="btn-group" role="group">
    <button type="button" class="btn btn-danger btn-lg" >Red</button>
    <button type="button" class="btn btn-primary btn-lg" >Blue</button>
    <button type="button" class="btn btn-success btn-lg" >Green</button>
</div>


</div> -->

<!-- 
<div class="container bg-warning">Box1</div>
<div class="container-fluid bg-primary">Box2</div>
<hr> -->
<!-- 
<div class="container-fluid" style="border: 2px solid brown;">
  I am a container
  <div class="row" style="border: 2px solid green;">
    <div class="col-md-2 bg-primary" style="border: 2px solid blueviolet;">col2</div>
    <div class="col-md-4 bg-warning">col4</div>
    <div class="col-md-6 bg-danger">col6</div>
  </div>
</div>
<hr>

<div class="row" style="background-color: darkgoldenrod;">
  <div class="col-md-4 bg-primary">col4</div>
  <div class="col-md-4 bg-warning">col4</div>
  <div class="col-md-4 bg-success">col4</div>
</div> -->

<hr>
<!-- 
<div class="container">
  <div class="row align-items-start bg-primary">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>
< -->
  <!-- <div class="row align-items-center bg-success">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div> -->
<!-- 
  <div class="row align-items-end bg-warning">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>   -->
<!-- 
<hr>
<div class="container">
  <div class="row">
    <div class="col align-self-start">
      One of three columns
    </div>
    <div class="col align-self-center">
      One of three columns
    </div>
    <div class="col align-self-end">
      One of three columns
    </div>
  </div>
</div> -->

<app-hello></app-hello>