/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
} */

/* .container-fluid{
    background-color: burlywood;
} */

.container{
    background-color: coral;
   
}